@inherits UmbracoViewPage
@using Umbraco.Cms.Core.PropertyEditors;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Http;
@using System.Web;
@using System.Net;
@using System.Net.Http;
@using System.Threading.Tasks;
@inject IHttpContextAccessor HttpContextAccessor;


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main>
      @RenderBody()
  </main>
</body>
</html>
